/* Page layouts - relative | absolute | fixed
.box {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.box1 {
    background-color: red;
    position: absolute;
    left: 5px;
    top: 5px;
}

.box2 {
    background-color: green;
    position: absolute;
    top: 10px;
    left: 10px;
}

.box3 {
    background-color: blue;
    position: absolute;
    top: 15px;
    left: 15px;
}
*/


/* Flexbox
body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vh;
}

.box {
    width: 50px;
    height: 50px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
*/


/* Grid
body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: "header header" "main aside" "footer footer";
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 80px;
}

header {
    grid-area: header;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

main {
    grid-area: main;
    background-color: red;
}

aside {
    grid-area: aside;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: gray;
}
*/